@model AtuHotelRebuilt.Models.Customer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>
    <div class="signup-container">
        <div class="signup-form">
            <h2>Edit Customer</h2>
            <form action="/Customer/Edit" method="post">
                @Html.AntiForgeryToken()

                <div class="row">


                    <!-- Sağ Kolon -->
                    <div class="col-md-6 form-group">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname" class="form-control" value="@Model.fname" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lname" class="form-control" value="@Model.lname" required>
                    </div>

                    <!-- Tek Kolon (İki sütun boyunca yayılır) -->
                    <div class="col-md-6 form-group">
                        <label for="birthdate">Birth Date</label>
                        <input type="date" id="birthdate" name="birthdate" class="form-control" value="@Model.birthdate.ToString("yyyy-MM-dd")" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" class="form-control" value="@Model.phone" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control" value="@Model.email" required>
                    </div>
                    <div class="col-md-6 form-group" style="display: none;">
                        <label for="tcNumber">TC</label>
                        <input type="text" id="tcNumber" name="tcNumber" class="form-control" value="@Model.tcNumber">
                    </div>

                    <div class="col-md-6 form-group">
                        @if (Model.gender == false)
                        {
                            <label>Gender</label><br>
                            <input type="radio" id="male" name="gender" value="Male" checked>
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="Female">
                            <label for="female">Female</label>
                        }
                        else
                        {
                            <label>Gender</label><br>
                            <input type="radio" id="male" name="gender" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="Female" checked>
                            <label for="female">Female</label>
                        }

                    </div>

                </div>

                <button type="submit" class="btn btn-primary w-100">Save Customer</button>
            </form>

            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger mt-3">@ViewBag.Error</div>
            }
        </div>
    </div>


    <script src="~/Scripts/custom.js"></script>
</body>
</html>
